<h1>Welcome to the E.P.I.T trading system.</h1>

<h2>Please present your Oyster card on the reader, and click the start button to begin</h1>

<p class="button">
  <img src="/images/start_button.png" />
</p>