<script type="text/javascript">
  $(document).ready(function() {
    // do stuff when DOM is ready
   $("#commodities").append("<a href='#'>add a commodity</a>");
        
    // add markup to container and apply click handlers to anchors
    $("#commodities a").click(function(e){
      // stop normal link click
      e.preventDefault();

      // send request
      $.post("/add_commodity", {player: "<%= @playa.id %>"}, function(xml) {
        // format and output result
        $("#commodities").append(
          "<div class='newc'>" + $("type", xml).text() + " - &pound; " + $("value", xml).text() + "</div>"
        );
      });
    });
    
  });
</script>

<!--
<%= @playa.data.inspect %> 
-->
<div style="text-color:white;" id="playa"><%= @playa.id %></div>

<h2>Hello <%= @playa.name %>.</h2>
<h3>Please present your commodities for registration:</h3>
<!-- <h3 style="display:hidden">Found commodities</h3> -->
<div id="commodities">
  <!-- <div id="none_yet"><p>None presented yet...</p></div> -->
</div>